<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Home - febryars33">
    <meta name="description" content="febryars33's pages. he is a WEB developer.">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://febryars33.github.io/">
    <meta property="og:title" content="Home - febryars33">
    <meta property="og:description" content="febryars33's pages. he is a WEB developer.">
    <meta property="og:image" content="https://raw.githubusercontent.com/febryars33/febryars33.github.io/main/web-preview.png">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://febryars33.github.io/">
    <meta property="twitter:title" content="Home - febryars33">
    <meta property="twitter:description" content="febryars33's pages. he is a WEB developer.">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/febryars33/febryars33.github.io/main/web-preview.png">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N96ZMCG');</script>

    <link rel="manifest" href="site.webmanifest">

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N96ZMCG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
